.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: #7950f2;
    height: 20%;
    text-align: center;
}

.titletext {
    margin-top: 4%;
    color: white;
    font-size: 25px;
}

.sidebar {
    min-width: 20px;
    text-align: center;
    height: 100%;
    width: 15%;
    position: fixed;
    padding: 10px 10px;
    top: 20%;
    left: 0;
    bottom: 0;
    background-color: #ced4da;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    background-color: #ced4da;
    color: black;
    padding: 14px 25px;
    text-align: center;
    // text-decoration: none; // Retirei esta parte, pois no exemplo havia o sublinhado.
    display: inline-block;
    border-radius: 20px;
}

.sidebar a:hover,
a:active {
    background-color: #c4cdd6;
}

.maincontent {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 85%;
    right: 0;
    bottom: 0;
    text-align: center;

}

button {
    background-color: #7950f2; // Tomei a liberdade de cololocar o butão com a cor da header para combinar com o estilo.
    border: none;
    color: white;
    padding: 5px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    height: 40px;
}
button:hover, a:active {
    background-color: #9776f8; 
    color: #ece0fc;
}

input {
    width: 400px;
    padding: 12px 20px;
    margin: 3px 0;
    border-radius: 10px;
    box-sizing: border-box;

}

.answerTextToBeShowed {
    color: black;
    margin: 10px 3px;

}

